* {
    box-sizing: border-box; }
html {
    font-size: 62.5%; }

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fdfdfd;
    height: 100%;
    width: 100%; }

img {
    width: 100%; }

#sitelogo {
    margin: .5em; }
#testform {
    border: 1px solid lightgray; }
#thanks {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 1em 0 0 0; }
#anvil {
    display: block;
    max-width: 300px;
    margin: 0 auto; }
#its {
    display: block;
    max-width: 300px;
    margin: 0 auto; }
#stop {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid lightgray;
}

/* BUTTONS */
.entry {
    display: block;
    width: 99%;
    margin: 0 auto;
    text-align: center;
    color: mediumseagreen;
    border: 1px solid;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    padding: .5em; }

.backcont {
    padding: .5em 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto; }

/* EXAMPLES */

.table {
    text-align: center;
    font-size: 1.2em;
    width: 40%;
    margin: 0 auto;
    padding: 1em 1em 0 1em; }


/* WRAPPER Grid */
.wrapper {
    min-height: 100%;
    position: relative; }

header {
    margin: 1em 0 1em 0;}

.body {
    padding: .5em 2em 4em 2em; }

/* TEXT Styling */
a {
    text-decoration: none;
    color: mediumseagreen; }
a:hover {
    color: seagreen; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif; }

strong { font-weight: bold; }
b {font-weight: bold;}
.emphasis {font-size: 1.4em;}

i {font-style: italic}

u {text-decoration: underline;}

p {
    font-size: 1.4em;
    padding: 1em 0 1em 0;}

h1 { 
    font-size: 4em;
    padding: .2em 0 0 .3em; }

h2 { 
    font-size: 1.5em;
    padding: .3em 0 .5em 1.2em; }

h3 {
    font-size: 1.8em;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;}

.toc {
    font-size: 2em;
    padding: 0 0 0 4em;
    list-style: upper-roman; }
.toc li {padding: .5em 0 0 0; }

ul {
    font-size: 1.4em;
    list-style-type: circle;
    padding: 0 0 0 4em;
}
/* EXAMPLES */ 

.wrongexample {
    text-align: center;
    background: tomato;
    width: 75%;
    margin: 0 auto;
    transform: skew(-20deg); }

.wrongexample p {font-size: 1.2em;
    padding: 1.2em 1em 1em 1em; }

.rightexample {
    text-align: center;
    background: lightgreen;
    width: 75%;
    margin: 0 auto;
    transform: skew(-20deg); }

.rightexample p { font-size: 1.2em;
    padding: 1.2em 1em 1em 1em; }

.example {
    text-align: center;
    background: gainsboro;
    width: 75%;
    margin: 0 auto;
    transform: skew(-20deg); }

.example p { font-size: 1.2em;
    padding: 1.2em 1em 1em 1em; }

.examplegrid {
    border: 1px solid lightgray;
    padding: 1em;
    display: grid;
    width: 75%;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
    font-size: 1.4em; }

.exampletext {
    padding: 1em;
    line-height: 1.3em;}

.exampleanswers {
    padding: 1em 0 1em 0; }

#exampleexplanation, #exampleexplanation1, #exampleexplanation2 {display: none;}

#examplecorrect, #examplecorrect1, #examplecorrect2 {display: none;}

.right, .wrong {cursor: pointer;}

.right:hover, .wrong:hover {color: seagreen;}

/* COLLAPSIBLE ITEMS */

.collapsible {
  width: 75%;
  margin: 0 auto;
  display: block;
  margin-bottom: .25em;
  margin-top: .5em; }

.collapsible input {
  position: absolute;
  left: -9999px; }

.collapsible input:focus ~ .collapser {
  border-color: grey; }

.collapsible .collapser {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  cursor: pointer;
  border: 1px transparent dotted; }

.collapsible .arrow {
  position: relative;
    bottom: 1.5em;
    left: 93%;
    z-index: 1;
    font-size: 1.5em;
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.25s ease-out; }

.bar {background: lightgray;
    padding: 1em; }

.bar1 {background: #f2f2f2;
    padding: 1em; }

.bar2 {background: #e6e6e6;
    padding: 1em; }

.collapsible input:checked ~ .arrow,
.collapsible input:checked ~ .collapser .arrow {
  transform: rotate(270deg); }

.collapsible .collapsed {
  display: inherit;
  font-size: 0;
  margin: -1.21em 0 0 0;
  opacity: 0;
  padding: 0;
  transition: opacity 0.25s, margin 0.5s 0.25s, font-size 0.5s 0.25s, padding 0.5s 0.25s; }

.collapsible input:checked ~ .collapsed {
  display: inherit;
  font-size: 1.2em;
  opacity: 1;
  padding: 0 0 1em 0;
  height: auto;
  transition: margin 0.25s, padding 0.25s, font-size 0.25s, opacity 0.5s 0.25s; }

/* NAVIGATION Flex */
nav {
    background-color: white;
    box-shadow: 0em 0em .5em 0em rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    flex-flow: row; }

nav h6 {
    padding: .5em;
    flex: 1;
    font-size: 1.5em;
    font-weight: bold; }

nav ul li {
    display: inline-block;
    font-weight: bold;
    padding: 1em;
    font-size: .9em; }

nav img {
    height: 4em;
    width: 4em;
    }

/* FOOTER */
footer {
    z-index: 3;
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);}

small {
    font-size: 1em; }

/* MEDIA QUERY */

@media screen and (min-width: 600px) {
    .wrapper {
        min-height: 100%;
        width: 80%;
        margin: auto; }
    .homewrapper {
        min-height: 100%;
        width: 50%;
        margin: auto; }
    
    .table {
        width: 30%; }
    
    .examplegrid {
        width: 65%; }

/*NAV Large Screen*/
    nav {
        flex-direction: row;
        justify-content: space-between; }
    nav img {
        margin-left: .5em; }

    .collapsible .arrow {
        position: relative;
        bottom: 1.5em;
        left: 96%;  
    }
}
